*
#descent into directories. This is why p4 wasn't working
!*/

!README.md
!.gitignore
!GenerateSharpmakeSolution.bat
!GenerateSolution.bat
!main.sharpmake.cs

!external/**

!xtl/src/**
!xtl/include/**

!test/src/**
!test/include/**